:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.container {
  text-align: left;
  padding: 0 30px;
}

form {
  /* border: 1px solid gray; */
  width: 600px;
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.color-tab {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-color: pink;
}

.colors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
